// For overlay comp
.fixed-aside {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.over-cont {
  position: fixed;
  right: 0;
  top: 200px;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding-block: 20px;
  z-index: 10;
}

.over-scroll {
  position: fixed;
  left: 0;
  top: 80vh;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding-block: 20px;
  z-index: 10;

  a {
    color: unset;
  }

  p {
    letter-spacing: 7px;
    font-size: 8px;
    &::before {
      content: "";
      position: absolute;
      bottom: -150px;
      height: 200px;
      width: 15px;
      border-right: 1px solid;
    }
  }
}
.fixed-aside > span {
  mix-blend-mode: difference;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  transition: transform 2s ease-in-out;
}
.fixed-aside a {
  font-weight: revert;
  // color: revert;
}
.fixed-aside p {
  transition: all 0.5s ease;
  font-family: "MonumentRegular";
  letter-spacing: 5px;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.5;
}
.over-cont:hover,
.over-scroll:hover {
  p {
    color: black;
    transform: translateY(10px);
    cursor: help;
    opacity: 1;
  }
  }
//   @supports (animation-timeline: view()) {
//     @-webkit-keyframes fade-out-left {
//       from {
//         opacity: 1;
//       }
//       to {
//         opacity: 0;
//         transform: translateX(-30vw);
//       }
//     }
//     @keyframes fade-out-left {
//       from {
//         opacity: 1;
//       }
//       to {
//         opacity: 0;
//         transform: translateX(-30vw);
//       }
//     }

//     @-webkit-keyframes fade-out-right {
//       from {
//         opacity: 1;
//       }
//       to {
//         opacity: 0;
//         transform: translateX(30vw);
//       }
//     }

//     @keyframes fade-out-right {
//       from {
//         opacity: 1;
//       }
//       to {
//         opacity: 0;
//         transform: translateX(30vw);
//       }
//     }

//   @-webkit-keyframes shadow-in {
//     to {
//       box-shadow: 0 10px 10px #0003;
//     }
//   }

//   @keyframes shadow-in {
//     to {
//       box-shadow: 0 10px 10px #0003;
//     }
//   }
//   .over-scroll {
//     -webkit-animation: fade-out-left auto ease-in both;
//     animation: fade-out-left auto ease-in both;
//     animation-timeline: scroll();
//     animation-range: 0% 2%;
//   }
//   .over-cont {
//     -webkit-animation: fade-out-right auto ease-in both;
//     animation: fade-out-right auto ease-in both;
//     animation-timeline: scroll();
//     animation-range: 0% 2%;
//   }
// }

//spotlight button
.primary-btn {
  padding: 15px 20px;
  margin-block: 2.5vh;
}

.base-input {
  transition: border-color 0.5s, all 0.5s ease;
  outline: none;
  position: relative;
}
.overlay-input {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border: 2px solid var(--accent);
  border-radius: inherit;
  background-color: transparent;
  // padding: 0.875rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.mgBtn {
  // position: absolute;
  // bottom: calc(0% - 15vh);
  // left: 50%;
  // translate: -50% -50%;
  // margin-top: 4vh;
  pointer-events: all;
  cursor: pointer;
  -webkit-animation: jump 10s ease infinite;
  animation: jump 10s ease infinite;
  // button {
  //   width: 200px;
  //   height: 70px;
  //   border-radius: 15px;
  //   border: 1px solid #ffffff5f !important;
  //   margin: 2.5vw;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-evenly;
  //   align-items: center;
  //   text-transform: uppercase;
  //   position: relative;
  //   background: transparent;
  //   transition: all 3s ease-in-out;

  //   // -webkit-animation: grad 11s ease infinite;
  //   // -moz-animation: grad 11s ease infinite;
  //   // animation: grad 11s ease infinite;
  //   lord-icon {
  //     width: 50px;
  //     height: 50px;
  //     rotate: 90deg;
  //     margin: 0;
  //   }
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0%;
  //     left: 50%;
  //     translate: -50%;
  //     width: 100%;
  //     height: 100%;
  //     border: 1px solid hsla(0, 0%, 100%, 0.7);
  //     border-radius: 15px;
  //     z-index: -1;
  //     transition: all 3s ease-in-out;
  //   }
  //   &:focus,
  //   &:focus-visible {
  //     outline: none;
  //   }
  //   &:hover {
  //     border: 1px solid hsla(335, 90%, 60%, 0.7) !important;
  //     animation: morph 5s ease-in-out infinite both;
  //     &::before {
  //       width: calc(100% + 10px);
  //       height: calc(100% + 10px);
  //       top: calc(0% - 5px);
  //       animation: morph 10s ease-in-out infinite backwards;
  //     }
  //   }
  // }
  .primary-btn {
    padding: 20px 40px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: var(--gradient-shadow);
      background-size: 400%;
      width: calc(100% - 15px);
      height: calc(100% - 5px);
      border-radius: inherit;
      z-index: -1;
    }
    &::after {
      transition: -webkit-filter 0.9s ease-out;
      transition: filter 0.9s ease-out;
      transition: filter 0.9s ease-out, -webkit-filter 0.9s ease-out;
    }

    &:hover,
    &:focus {
      outline: none;

      &::before,
      &::after {
        -webkit-animation: shadow 20s linear infinite;
        animation: shadow 20s linear infinite;
      }
      &::after {
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }
    }
  }
}
.arrow {
  margin: 2em;
  width: 50px;
  rotate: 45deg;
  border-radius: 50%;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0px 0px 5px #a61853;
    rotate: 0deg;
    cursor: pointer;
  }
}

// SCroll paragraph
.paragraph {
  display: flex;
  font-size: clamp(2rem, 10vw, 4.25rem);
  line-height: 1;
  padding: 40px;
  max-width: 1280px;
  color: white;
  flex-wrap: wrap;
  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;

    & > span {
      display: inline-block;
    }

    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}

//product list
@property --wipe-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

.wipe {
  --wipe-position: 100%;
  --gradient-length: 20%;
  mask-image: linear-gradient(
    to right,
    black var(--wipe-position),
    transparent calc(var(--wipe-position) + var(--gradient-length)),
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    black var(--wipe-position),
    transparent calc(var(--wipe-position) + var(--gradient-length)),
    transparent
  );

  transition: --wipe-position 4250ms linear;

  width: 98vw;
  translate: -2vw;
  text-align: center;
  text-align: -webkit-center;
  z-index: -1;

  img {
    width: calc(100vw - 2vw);
    margin: auto;
    padding-inline: 7%;
  }
}

.var2 .listItem {
  gap: 0;
}
.list {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2vw;
  top: 50%;
  translate: 0 calc(-50% + 25px);
  padding-inline: 10%;

  .listItem2 {
    height: auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-wrap: pretty;
    white-space-collapse: preserve;
    border: 2px solid var(--accent);
    border-radius: 50px 0;
    padding: 1rem;
    background: radial-gradient(#a5185366, transparent);

    img {
      width: 100%;
    }
    h5 {
      background: transparent !important;
    }
  }
  .listItem {
    // width: calc(100vw / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // height: 250px;
    gap: 30px;
    color: black;
    text-transform: uppercase;
    h5 {
      font-size: 1.3em;
      text-align: -webkit-center;
    }
    &:hover .imgWrap {
      outline: 2px solid var(--accent);
      box-shadow: 0px 0px 10px #a61853;
      scale: 1.01;
    }
    &:hover .imgWrap .button {
      scale: 1;
    }
    &:hover .imgWrap img {
      -webkit-filter: blur(2px) opacity(0.4);
      filter: blur(2px) opacity(0.4);
      -webkit-animation: rot 10s linear infinite 0.5s both;
      animation: rot 10s linear infinite 0.5s both;
    }

    .imgWrap {
      width: 100%;
      aspect-ratio: 1;
      position: relative;
      border-radius: 50%;
      outline: 2px solid black;
      background-color: white;
      transition: all 0.5s ease;

      .button {
        position: absolute;
        top: calc(50% - 40px);
        left: 50%;
        translate: -50% 0;
        scale: 0;
        -webkit-user-drag: none;
        transition: all 0.5s ease;
      }
    }
    img {
      width: 100%;
      -o-object-fit: scale-down;
      object-fit: scale-down;
      aspect-ratio: 1 / 1;
      transition: all 0.8s ease;
    }
  }
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: unset;
  z-index: 3;
  position: relative;
  color: black;
  text-transform: uppercase;

  .postItem {
    position: relative;
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
    &:last-of-type .post {
      border-bottom: 2px solid rgba(128, 128, 128, 0);
    }
  }
  .post {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 2vh;
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
    border-bottom: 2px solid grey;
    transition: border-bottom 0.1s ease, all 0.5s ease-in-out;

    &:hover {
      -webkit-filter: opacity(1);
      filter: opacity(1);
      cursor: pointer;
      border-bottom: 2px solid rgb(50, 50, 50);

      .arrow {
        rotate: 0deg;
      }
    }
  }
  .postImg {
    position: absolute;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    pointer-events: none;
  }
  .metaInfo {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .blogTitle {
    max-width: 45ch;
    text-align: left;
    width: 100%;
  }
}

.legalHead {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding-inline: 10vw;
  z-index: 1;

  & > img {
    width: 450px;
    position: absolute;
    bottom: -200px;
    left: 0;
    pointer-events: none;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: url(/bg.webp);
    background-size: cover;
    z-index: -2;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease;
    z-index: -1;
  }

  p {
    width: 80%;
    line-height: 1.25;
    white-space-collapse: preserve-breaks;
  }
}
.flexy {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 10vw;
  gap: 3em;
  margin-block: 5vh;
  scroll-snap-align: none !important;

  h3 {
    text-transform: uppercase;
  }
  p {
    // width: 80%;
    line-height: 1.25;
    white-space-collapse: preserve-breaks;
  }
}

.table-container {
  margin: 20px;
}

// table
table {
  width: 100%;
  height: 80vh;
  border-collapse: collapse;
}
table * {
  font-family: "Neue", Inter, system-ui, Avenir;
  font-size: 12px;
}
thead,
tbody {
  font-synthesis-weight: auto;
}
td:first-child,
th:first-child {
  text-align: left;
}
th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #7c7c7c;
}
td {
  color: gray;
  font-weight: bold;
}
tr:last-child td {
  border-bottom: 1px solid #dddddd00;
}
th {
  // background-color: #f2f2f2;
  padding-block: 2em;
  font-weight: bold;
}

// Swiperrrr no swiping
.swiperNoswiping {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  overflow-x: hidden;
  position: relative;
  min-height: 600px;
  // overflow: hidden;
  background-color: transparent; /* bg-neutral-950 */
  padding: 2rem 0; /* py-8 */

  .motionDiv {
    display: flex;
    cursor: -webkit-grab;
    cursor: grab;
    align-items: center;

    &.active {
      cursor: -webkit-grabbing;
      cursor: grabbing; /* active:cursor-grabbing */
    }
  }

  .dots {
    position: absolute;
    bottom: 0;
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem; /* gap-2 */
  }

  .dot {
    height: 0.75rem; /* h-3 */
    width: 0.75rem; /* w-3 */
    border-radius: 9999px; /* rounded-full */
    transition: background-color 0.3s ease; /* transition-colors */
    border: 1px solid var(--accent);
    padding: 0;
    margin: 0;

    &.active {
      background-color: var(--accent); /* bg-neutral-50 */
    }

    &.inactive {
      background-color: #ffffff; /* bg-neutral-500 */
    }
  }
}
.swiperNoswiping:has(.var2) .dots {
  display: none;
}
.swiperNoswiping:has(.var2) .listItem {
  gap: 0 !important;
  img {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media (max-width: 770px) {
  .over-scroll {
    padding-block: 12px;
  }
  .over-cont {
    padding-block: 12px;
  }
  .wipe {
    width: auto;
    translate: -10px 0;
    img {
      width: calc(200vw - 1vw);
      margin: auto;
      padding-inline: 0;
    }
  }
  .swiperNoswiping {
    min-height: 400px;
  }
  .swiperNoswiping:has(.var2) {
    min-height: 250px;
    .dots {
      display: flex;
      bottom: -100px;
    }
  }

  .var2 .listItem h4 {
    line-break: anywhere;
  }
  .list {
    gap: 5vw;
    overflow-x: visible;
    padding-inline: 0;

    .listItem img,
    .listItem2 img {
      width: 100% !important;
    }
    h5 {
      // background: white;
      z-index: 1;
    }
  }

  .paragraph {
    padding: 15px;
  }
  .blog {
    z-index: 4;
    gap: 30px;

    .blogList {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h6,
      p {
        font-size: 13px;
      }

      h4 {
        font-size: 1.1rem;
      }

      .metaInfo {
        order: -1;
      }
      .prodBtn {
        order: -1;
        .arrow {
          margin: 1em;
          width: 40px;
        }
      }
    }
  }
  .legalHead {
    padding-inline: 5vw;
    min-height: 70vh;
    gap: 5vh;
    h1 {
      font-size: clamp(1.4rem, 10vw, 5.55rem);
    }
    p {
      width: 100%;
    }
  }
  .flexy {
    padding-inline: 5vw;
    h3 {
      font-size: clamp(1.4rem, 5vw, 3.6rem);
    }
    p {
      width: 100%;
    }
  }
  .table-container {
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

// Bigger screennnn
@media (min-width: 1650px) {
  .over-scroll {
    top: 70vh;
  }
  .over-scroll p::before {
    width: 2rem;
  }
  p,
  a,
  button {
    font-size: clamp(1rem, 0.886rem + 0.57vw, 1.35rem) !important;
  }
  button,
  .nav__cta {
    min-height: 70px;
  }

  .hero {
    // padding: 0 15%;
    padding-inline: clamp(5%, 5vw, 10%);
    justify-content: center;

    h1 {
      font-size: clamp(4.44rem, 10vw, 7rem);
    }
    h3 {
      font-size: clamp(3.5rem, 10vw, 4.6rem);
    }
    .hero-cta .primary-btn {
      padding: 1.5em;
    }
  }
  .paragraph {
    font-size: clamp(4rem, 10vw, 7.25rem);
  }
  .redText {
    h3 {
      font-size: clamp(2.5rem, 10vw, 6rem);
    }
  }
  .product {
    min-height: 70vh;
    gap: 10vh;
    padding-inline: clamp(5%, 5vw, 10%);
    h1 {
      font-size: clamp(4.44rem, 10vw, 7rem);
    }
    h2 {
      font-size: clamp(3.5rem, 10vw, 4.6rem);
    }
  }
  .blog {
    min-height: 70vh;
    gap: 10vh;
    padding-inline: clamp(5%, 5vw, 10%);
    h1 {
      font-size: clamp(4.44rem, 10vw, 7rem);
    }
    h3 {
      font-size: clamp(3.5rem, 10vw, 4.6rem);
    }
    h6 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.6rem;
    }
  }
  .footer {
    padding-inline: clamp(10%, 5vw, 18%);
    .logoInfo {
      width: 40%;
    }
    h4 {
      font-size: 1.6rem;
    }
    h6 {
      font-size: 1.4rem;
    }
    .toTop {
      top: 40%;
      right: 10%;
      .arrow {
        width: 70px;
      }
    }
  }
  .pTable {
    table * {
      font-size: 14px;
    }
  }
  .Pwrap {
    section:nth-of-type(1) {
      padding-top: 0;
    }
    .pModel {
      height: 100vh;
      // padding-block: 0;
    }
  }

  .pModel,
  .prodHero,
  .pCont,
  .pTable {
    padding-inline: clamp(5%, 5vw, 10%) !important;

    h1 {
      font-size: clamp(4.44rem, 10vw, 7rem) !important;
    }
    h2 {
      font-size: clamp(3.5rem, 10vw, 5.6rem) !important;
    }
    h3 {
      font-size: clamp(3.5rem, 10vw, 4.6rem) !important;
    }
    h5 {
      font-size: 1.1rem !important;
    }
    h6 {
      font-size: 1rem !important;
    }
    h4 {
      font-size: 2rem !important;
    }
  }
  .pModel {
    .listItem2 {
      width: 100%;
    }
    .list img:not(.wipe img) {
      width: 100%;
    }
  }
  .pModel > img {
    width: 750px;
    position: absolute;
    bottom: -350px;
  }
  .wipe img {
    width: 94vw;
  }
  .pInfo img {
    -o-object-fit: contain !important;
    object-fit: contain !important;
  }
  .swiperNoswiping .motionDiv:has(.var2) {
    min-height: 450px;
    margin-bottom: 5vh;
  }
  .swiperNoswiping .dots {
    bottom: -45px;

    .dot {
      min-height: unset;
      height: 1.35rem;
      width: 1.35rem;
    }
  }
  .prodHero {
    justify-content: space-around !important;
    .pInfo {
      padding-inline: 10%;
      align-items: start;
      grid-gap: 20%;
    }
  }
  .prodHero .pFeature h3 {
    font-size: clamp(3.5rem, 10vw, 4.3rem) !important;
    bottom: -35%;
  }
  .nav__cta .arrow {
    width: 30px;
  }
}

@media (min-width: 2000px) {
  .list .listItem img {
    width: 100%;
  }
  .list .listItem .imgWrap .button {
    top: 35%;
  }
  .list .listItem h5 {
    font-size: 1.8em;
  }
  .pModel .pModelContent {
    .list .listItem .imgWrap img {
      width: 100%;
    }
    .list .listItem .imgWrap .button {
      top: 35%;
    }
    .list .listItem h5 {
      font-size: 1.8em;
    }
    &.light .list .listItem .imgWrap img,
    &.light .list .listItem .imgWrap2 img {
      width: 100% !important;
    }
  }
  .wipe {
    width: 95vw;
    translate: -5vw;
    img {
      width: 90vw;
    }
  }
  .swiperNoswiping .motionDiv:has(.var2) {
    min-height: 550px;
    margin-bottom: 5vh;
  }
  .hero {
    // padding: 0 15%;
    padding-inline: clamp(12%, 5vw, 18%);
    justify-content: center;

    h3 {
      font-size: clamp(3.5rem, 10vw, 5.6rem);
    }
    .hero-cta .primary-btn {
      padding: 1.75em;
    }
  }
  .paragraph {
    font-size: clamp(4rem, 10vw, 9.25rem);
  }

  .product {
    padding-inline: clamp(10%, 5vw, 18%);
    h1 {
      font-size: clamp(5.44rem, 10vw, 8.25rem);
    }
    h2 {
      font-size: clamp(3.5rem, 10vw, 6.6rem);
    }
  }
  .blog {
    padding-inline: clamp(10%, 5vw, 18%);
    h3 {
      font-size: clamp(3.5rem, 10vw, 5.6rem);
    }
    h6 {
      font-size: 1.7rem;
    }
    h4 {
      font-size: 2rem;
    }
  }
  .pModel,
  .prodHero,
  .pCont,
  .pTable {
    padding-inline: clamp(10%, 5vw, 18%) !important;
    h1 {
      font-size: clamp(5.44rem, 10vw, 8.25rem) !important;
    }
    h2 {
      font-size: clamp(3.5rem, 10vw, 6.6rem) !important;
    }
    h3 {
      font-size: clamp(3.5rem, 10vw, 5.6rem) !important;
    }
    h6 {
      font-size: 1rem !important;
    }
    h4 {
      font-size: 3rem !important;
    }
  }
  .prodHero .pFeature h3 {
    font-size: clamp(3.5rem, 10vw, 4.5rem) !important;
    bottom: -25%;
  }
}
