.over-cont {
  position: fixed;
  right: 0;
  top: 200px;
  writing-mode: vertical-lr;
  padding-block: 20px;
  z-index: 10;
}

.over-scroll {
  position: fixed;
  left: 0;
  bottom: 40px;
  writing-mode: vertical-lr;
  padding-block: 20px;
  z-index: 10;
}
.over-scroll p {
  letter-spacing: 7px;
  font-size: 7px;
}
.over-scroll p::before {
  content: "";
  position: absolute;
  bottom: -45px;
  height: 100px;
  width: 15px;
  border-right: 1px solid;
}

aside p {
  transition: all 0.5s ease;
  font-family: "MonumentRegular";
  letter-spacing: 5px;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.5;
}

.over-cont:hover p,
.over-scroll:hover p {
  color: var(--accent);
  transform: translateY(10px);
  cursor: help;
  opacity: 1;
}

.primary-btn {
  padding: 10px 20px;
  margin-block: 2.5vh;
}

.base-input {
  transition: border-color 0.5s;
  outline: none;
  position: relative;
}

.overlay-input {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border: 2px solid var(--accent);
  border-radius: inherit;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.5s;
}

.mgBtn {
  pointer-events: all;
  cursor: pointer;
  animation: jump 10s ease infinite;
}
.mgBtn .primary-btn {
  padding: 20px 40px;
  position: relative;
}
.mgBtn .primary-btn::before, .mgBtn .primary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% - 15px);
  height: calc(100% - 5px);
  border-radius: inherit;
  z-index: -1;
}
.mgBtn .primary-btn::after {
  transition: filter 0.9s ease-out;
}
.mgBtn .primary-btn:hover, .mgBtn .primary-btn:focus {
  outline: none;
}
.mgBtn .primary-btn:hover::before, .mgBtn .primary-btn:hover::after, .mgBtn .primary-btn:focus::before, .mgBtn .primary-btn:focus::after {
  animation: shadow 20s linear infinite;
}
.mgBtn .primary-btn:hover::after, .mgBtn .primary-btn:focus::after {
  filter: blur(5px);
}

.arrow {
  margin: 2em;
  width: 50px;
  rotate: 45deg;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.arrow:hover {
  box-shadow: 0px 0px 5px #a61853;
  rotate: 0deg;
}

.paragraph {
  display: flex;
  font-size: 60px;
  line-height: 1;
  padding: 40px;
  max-width: 1280px;
  color: white;
  flex-wrap: wrap;
}
.paragraph .word {
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
}
.paragraph .word .shadow {
  position: absolute;
  opacity: 20%;
}

@property --wipe-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
.wipe {
  --wipe-position: 100%;
  --gradient-length: 20%;
  -webkit-mask-image: linear-gradient(to bottom, black var(--wipe-position), transparent calc(var(--wipe-position) + var(--gradient-length)), transparent);
  transition: --wipe-position 2000ms linear;
}

.list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.list span {
  position: absolute;
  top: -400px;
  left: 50%;
  translate: -50%;
  rotate: -90deg;
  transform: scale(1.3);
  z-index: -1;
}
.list .listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  color: black;
  text-transform: uppercase;
}
.list .listItem:hover .imgWrap {
  outline: 2px solid var(--accent);
  box-shadow: 0px 0px 10px #a61853;
  scale: 1.01;
}
.list .listItem:hover .imgWrap button {
  scale: 1;
}
.list .listItem:hover .imgWrap img {
  filter: blur(2px) opacity(0.4);
}
.list .listItem .imgWrap {
  position: relative;
  border-radius: 50%;
  outline: 2px solid black;
  background-color: white;
  transition: all 0.5s ease;
}
.list .listItem .imgWrap button {
  position: absolute;
  top: 35%;
  left: 50%;
  translate: -50%;
  scale: 0;
  transition: all 0.5s ease;
}
.list .listItem img {
  width: 200px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  aspect-ratio: 1/1;
  transition: all 0.8s ease;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
  position: relative;
  color: black;
  text-transform: uppercase;
}
.blog .postItem {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.blog .postItem:hover {
  color: inherit;
}
.blog .postItem:last-of-type .post {
  border-bottom: 2px solid rgba(128, 128, 128, 0);
}
.blog .post {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 2vh;
  filter: opacity(0.5);
  border-bottom: 2px solid grey;
  transition: border-bottom 0.1s ease, all 0.5s ease-in-out;
}
.blog .post:hover {
  filter: opacity(1);
  cursor: pointer;
  border-bottom: 2px solid rgb(50, 50, 50);
}
.blog .post .arrow {
  rotate: 0deg;
}
.blog .postImg {
  position: absolute;
  height: 300px;
  width: 400px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .metaInfo {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.blog .blogTitle {
  max-width: 45ch;
  text-align: left;
  width: 100%;
}/*# sourceMappingURL=Component.css.map */