.wrapper {
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-inline: 10vw;
  position: relative;
}
.hero > img {
  width: 500px;
  position: absolute;
  bottom: -250px;
  left: 0;
}

.hero-vid {
  width: 220px;
  height: 300px;
  position: fixed;
  top: 10%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  filter: grayscale(0.9) brightness(0.5);
  transition: all 0.3s ease-out;
  transform: translate(-50%, 0);
  z-index: 0;
}

.hero-head {
  position: relative;
  align-self: start;
  z-index: 1;
}

.hero-cta {
  align-self: end;
}
.hero-cta h3 {
  color: var(--text-color);
}
.hero-cta .primary-btn {
  padding: 1.25em;
}

#canvasWrapper {
  width: calc(100vw - 5px);
  height: 100vh;
  position: fixed;
  inset: 0;
  padding: 0;
  z-index: 0;
}

.vid {
  height: 100vh;
}

.textline {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.8509803922) 0%, #efefef 19%, #efefef 86%, rgba(255, 255, 255, 0.8509803922) 100%);
}
.textline h2 {
  float: right;
  text-transform: uppercase;
}
.textline .paragraph {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 1;
  flex-wrap: wrap;
  filter: invert(1);
  z-index: 2;
}
.textline .paragraph .word {
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
}
.textline .paragraph .word .shadow {
  position: absolute;
  opacity: 20%;
}
.textline .paragraph .word span span {
  transition: all 0.2s ease;
}

.scaleSec {
  position: relative;
  padding: 0;
}

.scale {
  height: 200vh;
  background-color: white;
  height: 100vh;
  width: 100vw;
  scale: 1;
  inset: 0;
  z-index: 1;
}

.redText {
  scroll-snap-type: block;
  overflow-x: hidden;
}
.redText .text {
  position: relative;
  width: 60%;
  color: white;
  margin: auto;
  padding-block: 1em;
  text-transform: uppercase;
  z-index: 1;
}
.redText .redOverlay {
  position: absolute;
  inset: 0;
  width: 97%;
  height: 100%;
  background-color: rgba(159, 1, 66, 0.7);
  mix-blend-mode: hard-light;
}

.videoSec {
  padding-bottom: 15vh;
}
.videoSec .mainVid {
  z-index: 2;
  position: relative;
  border-radius: 50px;
  inset: 0 50%;
  translate: -50% 0;
  transform-origin: bottom center;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 10vh;
  z-index: 3;
}
.product .prodHead {
  text-transform: uppercase;
  color: black;
}
.product .prodHead .hollow {
  -webkit-text-stroke-color: var(--text-dark);
}
.product .prodHead h2 {
  float: right;
}
.product .prodHead p {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
}
.product .prodHead .prodBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 30px;
  float: right;
}
.LogoDisp {
  position: relative;
  z-index: 1;
  text-align: -webkit-center;
}
.LogoDisp img {
  width: 60%;
  transition: all 2s ease;
}

@media (max-width: 800px) {
  .hero {
    padding-inline: 10vw;
    justify-content: space-between;
  }
  .hero > img {
    width: 250px;
    position: absolute;
    bottom: -100px;
  }
  .hero-vid {
    height: 250px;
    margin-right: 70px;
    top: 15%;
  }
}
@media (max-width: 770px) {
  .hero {
    min-height: 100vh;
    padding-inline: 5vw;
    padding-top: 15vh;
  }
  .hero > img {
    width: 250px;
    position: absolute;
    bottom: -150px;
  }
  .hero h1 {
    font-size: clamp(2.15rem, 10vw, 5.55rem);
  }
  .hero h3 {
    font-size: clamp(2rem, 10vw, 3.6rem);
  }
  .redText .text {
    width: 80%;
    padding: 0;
  }
  .redText .text h3 {
    font-size: clamp(1.1em, 2vh, 2.5em);
  }
  .videoSec {
    min-height: unset;
  }
  .videoSec .mainVid {
    border-radius: 20px !important;
    width: 90% !important;
  }
  .product {
    z-index: 3;
  }
  .product .prodHead {
    display: flex;
    flex-direction: column;
  }
  .product .prodHead .prodBtn {
    order: 2;
  }
  .product .list {
    flex-direction: column;
    gap: 20px;
    margin-block: 5em;
  }
  .product .list h5 {
    background: white;
    z-index: 1;
  }
  .product .list span {
    position: absolute;
    top: 15px;
    left: 50%;
    translate: -50%;
    rotate: 0deg;
    transform: scale(1.15);
    z-index: -1;
  }
  .LogoDisp {
    min-height: unset;
    padding-top: 20vh;
  }
}/*# sourceMappingURL=Home.css.map */