.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 10vw;
  position: relative;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background: url(/bg.webp);
  background-size: cover;
  z-index: -2;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9098039216);
  z-index: -1;
}
.hero > img {
  width: 500px;
  position: absolute;
  bottom: -250px;
  left: 0;
}

.hero-vid {
  width: 220px;
  height: 300px;
  position: fixed;
  top: 10%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  filter: grayscale(1) brightness(0.25);
  transition: all 0.3s ease-out;
  transform: translate(-50%, 0);
  z-index: 0;
}

.hero-head {
  position: relative;
  align-self: start;
  z-index: 1;
}

.hero-cta {
  align-self: end;
}
.hero-cta h3 {
  color: var(--text-color);
}

#canvasWrapper {
  width: calc(100vw - 5px);
  height: 100vh;
  position: fixed;
  inset: 0;
  padding: 0;
  z-index: 0;
}

.vid {
  height: 100vh;
}

.textline h2 {
  float: right;
  text-transform: uppercase;
}
.textline .paragraph {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 1;
  flex-wrap: wrap;
  filter: invert(1);
  z-index: 2;
}
.textline .paragraph .word {
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
}
.textline .paragraph .word .shadow {
  position: absolute;
  opacity: 20%;
}
.textline .paragraph .word span span {
  transition: all 0.2s ease;
}

.scaleSec {
  position: relative;
  padding: 0;
}

.scale {
  height: 200vh;
  background-color: white;
  height: 100vh;
  width: 100vw;
  scale: 1;
  inset: 0;
  z-index: 1;
}

.redText .text {
  position: relative;
  width: 60%;
  margin: auto;
  padding: 1em;
  text-transform: uppercase;
  z-index: 1;
}
.redText .redOverlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(159, 1, 66, 0.7);
  mix-blend-mode: hard-light;
}

.videoSec .mainVid {
  z-index: 2;
  position: relative;
  border-radius: 50px;
  inset: 0 50%;
  translate: -50% 0;
  transform-origin: bottom center;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 10vh;
  z-index: 2;
}
.product .prodHead {
  text-transform: uppercase;
  color: black;
}
.product .prodHead .hollow {
  -webkit-text-stroke-color: var(--text-dark);
}
.product .prodHead h2 {
  float: right;
}
.product .prodHead p {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
}
.product .prodHead .prodBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 30px;
  float: right;
}
.product .prodHead .prodBtn button {
  width: 250px;
}

.LogoDisp {
  position: relative;
  z-index: 1;
  text-align: -webkit-center;
}
.LogoDisp img {
  width: 60%;
  transition: all 2s ease;
}

@media (max-width: 800px) {
  .hero {
    padding-inline: 10vw;
    justify-content: space-around;
  }
  .hero > img {
    width: 250px;
    position: absolute;
    bottom: -100px;
  }
  .hero-vid {
    height: 250px;
    margin-right: 70px;
    top: 15%;
  }
}
@media (max-width: 450px) {
  .hero {
    padding-inline: 5vw;
  }
  .hero > img {
    width: 250px;
    position: absolute;
    bottom: -300px;
  }
}/*# sourceMappingURL=Home.css.map */