/* Footer Styles */
.footer {
  min-height: 40vh;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: var(--bg-white);
  color: #000000;
  position: relative;
  z-index: 2;
  scroll-snap-align: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.rowMain {
  justify-content: start;
  border-block: 2px solid rgba(128, 128, 128, 0.35);
  padding-block: 10vh;
}

.lowerFoot {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-block: 1em;
}
.lowerFoot p {
  margin-top: 1rem;
  color: grey;
  font-size: 12px;
}
.lowerFoot a {
  text-decoration: underline;
  text-underline-position: under;
}

.logoInfo {
  width: 30ch;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  height: 30px;
}

.linkItem {
  display: flex;
  margin: auto;
  -moz-column-gap: 150px;
  column-gap: 150px;
}

.footer-text {
  margin-top: 1rem;
  width: 75%;
}

.footer-column {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer-heading {
  margin-bottom: 1.25rem;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-list-item {
  font-family: "Neue", Inter, system-ui, Avenir;
  font-size: 14px;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.footer-list-item:hover {
  translate: 5px 0;
}

.footer-link {
  color: #5d5d5d;
  font-family: "Neue", Inter, system-ui, Avenir;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-link:hover {
  text-decoration: none;
  color: var(--accent);
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.toTop {
  position: absolute;
  translate: 50%;
  top: 50%;
  right: 5%;
}
.toTop .arrow {
  width: 60px;
  rotate: 270deg;
}

.newsletter {
  overflow: hidden;
  height: 55px;
  width: 80%;
  margin-top: 20px;
  position: relative;
  border: 2px solid var(--accent);
  border-radius: 50px;
  background: transparent;
  filter: grayscale(1);
}
.newsletter input {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 15px;
  /* text-transform: uppercase; */
  outline: none;
  background: transparent;
  border: none;
  color: black;
}
.newsletter input::-moz-placeholder {
  font-family: "Neue", Inter, system-ui, Avenir;
}
.newsletter input::placeholder {
  font-family: "Neue", Inter, system-ui, Avenir;
}
.newsletter .footerBtn {
  all: unset;
  position: absolute;
  z-index: 5;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.newsletter .footerBtn .arrow {
  width: 40px;
  margin: 0;
}

@media (max-width: 770px) {
  .footer {
    min-height: unset;
    height: -moz-fit-content;
    height: fit-content;
  }
  .toTop {
    top: 70%;
    right: 15%;
  }
  .rowMain {
    flex-direction: column;
    gap: 30px;
  }
  .rowMain .linkItem {
    -moz-column-gap: 0;
    column-gap: 0;
    margin: 0;
    gap: 40px;
    flex-direction: column;
  }
  .rowMain .footer-column {
    padding: 0;
  }
  .logoInfo {
    width: unset;
  }
}/*# sourceMappingURL=footer.css.map */