.prodHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 10vw;
  padding-block: 10vh;

  h1 {
    font-size: clamp(3.25rem, 10vw, 7.55rem);
    overflow-wrap: anywhere;
  }
}

.pInfo {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  overflow: visible;

  img {
    inline-size: -webkit-fill-available;
    animation: rot 10s linear infinite both;
    max-width: 80%;
    object-fit: scale-down;
  }
}

.pFeature {
  height: -webkit-fill-available;
  position: relative;
  display: flex;
  font-size: 13px;
  align-content: flex-start;
  text-transform: uppercase;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  h6 {
    color: gray;
    margin-block: 1em;
    font-size: 12px;
    line-height: 1.2;
  }

  h3 {
    // position: absolute;
    // bottom: -10%;
    // left: 0%;
    width: calc(100% + 10vw);
    line-break: anywhere;
    z-index: 2;
    margin-top: 0.5em;
    transform: translateX(-10vw) !important;
  }

  ul {
    max-width: 400px;
  }

  li {
    list-style: square;
    position: relative;

    &::before {
      background-color: var(--accent);
      width: 2px;
      content: "";
      position: absolute;
      top: 13px;
      // bottom: -25px;
      left: -18px;
      transition: bottom 0.7s ease;
      // animation: xtend 0.7s forwards;
    }
    &.animate::before {
      animation: xtend 0.7s forwards; /* Trigger animation */
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    &::marker {
      color: var(--accent);
      font-size: 26px;
    }
  }
}
@keyframes xtend {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -25px;
  }
}

.pModel {
  height: 130vh;
  padding-block: 30vh;
  // margin-block: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  gap: 5vh;
  transition: all 0.5s ease;
  isolation: isolate;

  .pModelContent.light {
    .list {
      h4 {
        background: transparent;
        color: rgb(0, 0, 0);
        z-index: 1;
        text-align: center;
      }
      h5 {
        background: transparent;
        color: rgb(0, 0, 0);
        z-index: 1;
        text-align: center;
      }
      .listItem .imgWrap,
      .listItem .imgWrap2 {
        position: relative;
        border-radius: 50%;
        // outline: 2px solid rgb(255, 255, 255);
        // background-color: rgb(255, 255, 255);
        transition: all 0.5s ease;

        img {
          width: 400px;
        }
      }
    }
  }

  .list .listItem:hover .imgWrap {
    outline: 2px solid var(--accent);
  }
  .list span {
    z-index: 0;
    top: -350px;
    transform: scale(1.5);

    svg * {
      fill: white;
    }
  }
  .list .listItem {
    height: unset;
    gap: 30px;
  }

  .list .listItem .imgWrap {
    position: relative;
    border-radius: 50%;
    outline: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease;

    img {
      width: 300px;
    }
  }
  .list .listItem .imgWrap2 {
    position: relative;
    border-radius: 50%;
    // outline: 2px solid rgb(255, 255, 255);
    // background-color: rgb(0, 0, 0);
    transition: all 0.5s ease;

    img {
      width: 400px;
    }
  }

  .list h4 {
    background: transparent;
    color: white;
    z-index: 1;
    text-align: center;
  }
  .list h5 {
    background: transparent;
    color: white;
    z-index: 1;
    text-align: center;
  }

  & > img {
    width: 450px;
    position: absolute;
    bottom: -200px;
    left: 0;
    pointer-events: none;
  }
}

.pTable {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  text-transform: uppercase;
  z-index: 1;

  .table {
    width: 100%;
    // min-height: 90vh;
    background-color: white;
    border-radius: 15px;
  }
}

.Pwrap {
  position: relative;
  z-index: 1;
  padding: 0 !important;
  margin: 0 !important;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    background: url(/bg.webp);
    background-size: cover;
    // opacity: 0.7;
    z-index: -2;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    // background-color: rgba(0, 0, 0, 0.9098039216);
    background-color: var(--bg-variable);
    transition: all 0.5s ease;
    z-index: -1;
  }
  .pFeature.dark {
    * {
      color: rgb(241, 241, 241);
    }
    h6 {
      color: rgb(223, 223, 223);
    }
  }
}

.pCont {
  position: relative;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 5vh;
  padding-block: 10vh;
  z-index: 2;

  .cont-form {
    min-width: 35vw;
  }
  .cont-form.dark {
    * {
      /* position: relative; */
      /* z-index: 1; */
      color: var(--bg-color) !important;
    }
    input,
    textarea,
    .choice {
      border-color: var(--bg-color) !important;
    }
    select {
      background: var(--bg-dark) !important;
    }
    label {
      background: var(--bg-dark);
    }
  }
  .choice {
    height: 50px;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    margin-bottom: 15px !important;
    border-radius: 50px;
    background: none;
    color: var(--text-dark);
    border: 1px solid var(--text-dark);

    label {
      position: absolute;
      top: -7px;
      left: 15px;
      padding: 0.2em;
      font-size: 11px;
      text-transform: uppercase;
      background: gainsboro;
    }

    select {
      background: none;
      border: none;
      color: var(--text-dark);
      text-transform: uppercase;

      &:focus,
      &:focus-within {
        border: none;
        outline: none;
      }
    }
  }

  .select {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 0px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid black;
    margin-bottom: 1.5em;
    box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);

    > i.toggle {
      position: absolute;
      z-index: 4;
      right: 1.5em;
      top: 1.6em;
      color: #ffffff;
    }

    .title,
    .placeholder {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: 1.5em 2em;
      /* background: rgba(255, 255, 255, 1); */
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }

    & > input {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;
      cursor: pointer;

      &:checked {
        ~ i.toggle.icon-arrow-down {
          display: none;
        }

        ~ i.toggle.icon-arrow-up {
          display: block;
        }

        div.options label.option .title {
          display: none !important;
        }
      }

      &:not(:checked) {
        z-index: 4;

        ~ label.option {
          > span.title {
            display: none;
          }
        }

        ~ i.toggle.icon-arrow-up {
          display: none;
        }

        ~ i.toggle.icon-arrow-down {
          display: block;
        }
      }

      &:disabled {
        cursor: no-drop;
      }
    }

    & > span.placeholder {
      position: relative;
      z-index: 0;
      display: inline-block;
      width: 100%;
      color: #999;
      border-top: 0px;
    }

    label.option {
      display: block;
      overflow: hidden;
      z-index: 1;
      width: 100%;
      transition: all 1s ease-out;

      span.title {
        position: relative;
        z-index: 2;
        transition: background 0.3s ease-out;

        i.icon {
          padding-right: 8px;
          color: rgba(146, 168, 209, 1);
        }

        &:hover {
          color: #fff;
          background: rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
        }
      }

      input {
        display: none;

        &:checked ~ span.title {
          position: absolute;
          display: block;
          z-index: 3;
          top: 0px;
          font-size: 12px;
          background: #fff;
          border-top: 0px;
          box-shadow: none;
          color: inherit;
          width: 100%;
        }

        &:disabled {
          & ~ span.title {
            background: #f9f9f9 !important;
            color: #aaa;

            &:hover {
              color: #aaa;
              background: none;
              cursor: no-drop;
            }
          }
        }
      }
    }
  }
  #contact-form button {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .prodHero{
    gap: 5vh;

  h1 {
    font-size: clamp(4rem, 10vw, 7.55rem);
    overflow-wrap: anywhere;
    // line-break: anywhere;
  }
  .pInfo{
    img {
      max-width: 100%;
      object-fit: unset;
      aspect-ratio: 1;
    }
  }
}
  .pFeature {
    flex-direction: column-reverse;
    gap: 2em;
    width: fit-content;
    h3 {
      position: relative;
      width: 100%;
      overflow-wrap: anywhere;
      transform: none !important;
    }
    ul {
      padding-left: 30px;
    }
  }
  .pModel {
    height: unset;
    padding-block: 10vh;

    .list:has(.imgWrap2) {
      gap: 50px;
      margin-top: unset;
      align-items: center;
    }
    .list {
      flex-direction: column;
      gap: 20px;
      margin-block: 5em;

      h5 {
        background: black;
        color: white;
        z-index: 1;
      }
      span {
        position: absolute;
        top: 15px;
        left: 50%;
        translate: -50%;
        rotate: 0deg;
        transform: scale(1.15);
        z-index: 0;
      }
    }

    & > img {
      width: 200px;
      /* position: sticky; */
      bottom: 0px;
    }
  }

  .pInfo {
    grid-template-columns: auto;
    justify-content: unset;
  }
  .pCont .cont-form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .pInfo {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    h3 {
      font-size: clamp(1.9rem, 10vw, 3.6rem);
    }
  }
  .pModel .list .listItem .imgWrap img {
    width: 200px;
  }
}
