.who {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 15vh;
}

.whoImg {
    position: relative;
    display: grid;
    justify-items: end;
    justify-content: end;
    will-change: contents;
}

.who h1 {
    text-align: center;
    margin-bottom: 5vh;
}

.who img {
    max-width: 100%;
    height: 500px;
    border-radius: 30px;
}

.who h5 {
    position: absolute;
    bottom: -50px;
    left: 100px;
    max-width: 450px;
    color: white;
    text-transform: uppercase;
    background: #a61853ba;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 1.5em 2.5em;
    border-radius: 15px;

}

.who p {
    position: absolute;
    bottom: -100px;
    right: 0;
    max-width: 300px;
    float: right;
    order: 2;
}

.value {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    padding-block: 20vh;
  isolation: isolate;
  color: white;
}
.value::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: url(/bg.webp);
    background-size: cover;
    z-index: -2;
  }
  .value::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    /* background-color: rgba(0, 0, 0, 0.9098039216); */
    background-color: var(--bg-variable);
    transition: all 0.5s ease;
    z-index: -1;
  }

.value h3 {
    text-transform: uppercase;
}

.value>h1 {
    align-self: center;
    margin-block: 5vh;
}

.value img {
    max-width: 100%;
    border-radius: 20px;
    max-height: 300px;
}

.value ul {
    display: flex;
    gap: 10vh;
    flex-direction: column;
}

.value li {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    gap: 5vh;
}

.value li.care img {
    order: -1;
}

.value li.care>div {
    justify-self: flex-start;
}

.value p {
    max-width: 400px;
    justify-self: flex-end;
}


.collab {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.collab img {
    max-width: 100%;
    border-radius: 20px;
    max-height: 330px;
    justify-self: left;
}

.collab p {
    max-width: 500px;
}

.collab h1 {
    text-align: center;
    line-break: anywhere;
}

.collabInfo {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
}

.collabInfo>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
    min-height: 60vh;
}

.surpass{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
}

.surpass img {
    max-width: 100%;
    border-radius: 20px;
    max-height: 500px;
}
.surpass p {
    max-width: 500px;
    text-align: center;
}


@media (max-width: 770px) {
    .value{
        padding-block: 10vh;
        text-align: center;
    }
    .value p {
        justify-self: center;
    }
    .value li.care img {
        order: 1;
    }
    .who img {
       
        height: unset;
    }
    .whoImg {
        justify-items: center;
        justify-content: center;
        will-change: contents;
        gap: 2vh;
        align-items: center;
        text-align: center;
    }
    .who h5 {
        position: relative;
        bottom: 0;
        left: 0;
        max-width: unset;
        font-size: 13px;
    }
    .who p {
        position: relative;
        bottom: 0;
        right: 0;
        float: none;
    }
    
    .value li.care>div {
        justify-self: center;
    }
    .who{
        min-height: unset;
    }

    .collab{
        min-height: unset;
        padding-block: 10vh;
        text-align: center;
    }

    .surpass{
        min-height: unset;
        padding-block: 10vh;
        text-align: center;
    }
}