@font-face {
  font-family: 'MonumentUltrabold';
  src: url(/MonumentUltrabold.woff2) format('woff2');
}

@font-face {
  font-family: 'MonumentRegular';
  src: url(/MonumentRegular.woff2) format('woff2');
}

@font-face {
  font-family: 'Neue';
  src: url(/neue.woff2) format('woff2');
}

:root {
  font-family: "MonumentRegular", 'MonumentUltrabold', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  --bg-color: hsl(0, 0%, 91%);
  --bg-dark: hsl(0, 0%, 1%);
  --accent: hsl(335, 75%, 37%);
  --text-color: hsl(0, 0%, 95%);
  --text-dark: hsl(0, 0%, 3%);
  --header-height: 8vh;

  --bg-white: hsla(0, 0%, 100%, 0.85);
  /* Default background color */
  --bg-black: hsla(0, 0%, 0%, 0.85);
  /* Dark background color */
  --bg-variable: var(--bg-variable);

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MonumentRegular", 'MonumentUltrabold', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
} */

#root {
  position: relative;
  color: var(--text-dark);
  background-color: var(--bg-color);
}

#root section:nth-of-type(1) {
  padding-top: 15vh;
}

.secWrap > section {
  padding-top: 0vh !important;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-user-drag: none;
}


body {
  width: calc(100vw - 5px);
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  width: 100vw;
  min-height: 100vh;
  padding-inline: 3vw;
  padding-block: 5vh;
}

section:not(.wrapper, .textline) {
  scroll-snap-align: end;
}

h1 {
  font-size: clamp(3.44rem, 10vw, 6.25rem);
}

h2 {
  font-size: clamp(2rem, 10vw, 4.19rem);
}

h3 {
  font-size: clamp(2.5rem, 10vw, 3.6rem);
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

p {
  font-family: 'Neue', Inter, system-ui, Avenir;
  font-size: 14px;
}

ul li {
  list-style: none;
}

/* @media (min-width: 90em) {
    body            { font-size: 1.125rem; }
    h1              { font-size: 3.375rem; }
    h3              { font-size: 1.85472973rem; }
    h4              { font-size: 1.36824324rem; }
    h2              { font-size: 2.58445946rem; }
} */

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  background: var(--accent);
  color: #fff;
  -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 99px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

html.lenis {
  height: auto
}

.lenis.lenis-smooth {
  scroll-behavior: auto
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain
}

.lenis.lenis-stopped {
  overflow: hidden
}

.lenis.lenis-scrolling iframe {
  pointer-events: none
}


@media (max-width: 770px) {
  html {
    scroll-snap-type: none;
  }

  h1 {
    font-size: clamp(3.25rem, 10vw, 5.5rem);
  }

  h2 {
    font-size: clamp(2rem, 10vw, 4.5rem);
  }

  h3 {
    font-size: clamp(2rem, 10vw, 3.6rem);
  }

  .hollowdark {
    -webkit-text-stroke-width: 1px;
  }

  .hollow {
    -webkit-text-stroke-width: 1px;
  }

  /* section{
    min-height: unset;
  } */
}